<div id="register">
  <h1> Register</h1>
  <form method="post" action="/registration">
    <label for="name">name:</label>
    <input type="text" name="name" id="name" class="textbox"/>
    <br>
    <label for="email">Password:</label>
    <input type="email" name="email" id="email" class="textbox"/>
    <br>
    <input type="submit" value="Register" id="registerbutton"/>
    <br>
  </form>
</div>