development:
  adapter: postgresql
  encoding: unicode
  database: terence
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: terence
  pool: 5
  username: gschool
  password:
